{{- if .Values.neo4j.enabled }}
{{- $secretName := include "prowler.neo4j.fullname" . -}}
{{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName -}}
{{- $password := "" -}}
{{- if .Values.neo4j.auth.password -}}
  {{- $password = .Values.neo4j.auth.password -}}
{{- else if and $secret $secret.data (index $secret.data "password") -}}
  {{- $password = index $secret.data "password" | b64dec -}}
{{- else -}}
  {{- $password = randAlphaNum 24 -}}
{{- end -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "prowler.neo4j.labels" . | nindent 4 }}
type: Opaque
stringData:
  username: {{ .Values.neo4j.auth.username | quote }}
  password: {{ $password | quote }}
  # NEO4J_AUTH format: username/password
  NEO4J_AUTH: {{ printf "%s/%s" .Values.neo4j.auth.username $password | quote }}
{{- end }}
