{{- if .Values.neo4j.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "prowler.neo4j.fullname" . }}
  labels:
    {{- include "prowler.neo4j.labels" . | nindent 4 }}
type: Opaque
data:
  username: {{ .Values.neo4j.auth.username | b64enc | quote }}
  {{- if .Values.neo4j.auth.password }}
  password: {{ .Values.neo4j.auth.password | b64enc | quote }}
  {{- else }}
  {{- fail "neo4j.auth.password is required when neo4j.enabled is true. Set it via --set neo4j.auth.password=yourpassword" }}
  {{- end }}
  # NEO4J_AUTH format: username/password
  NEO4J_AUTH: {{ printf "%s/%s" .Values.neo4j.auth.username .Values.neo4j.auth.password | b64enc | quote }}
{{- end }}
