{{- if .Values.postgresql.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "prowler.fullname" . }}-api-postgres
  labels:
    {{- include "prowler.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_HOST: "{{ include "prowler.fullname" . }}-postgresql"
  POSTGRES_PORT: "5432"
  # Existing user (postgres superuser)
  POSTGRES_ADMIN_USER: postgres
  POSTGRES_ADMIN_PASSWORD: {{ .Values.postgresql.global.postgresql.auth.postgresPassword | quote }}
  # User to be created by migrations (prowler application user)
  POSTGRES_USER: prowler
  POSTGRES_PASSWORD: prowler_password
  # Existing DB
  POSTGRES_DB: {{ .Values.postgresql.global.postgresql.auth.database | quote }}
{{- end -}}
