name: CD

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  qa-checks:
    name: QA Checks
    uses: ./.github/workflows/qa-checks.yml

  release:
    name: Release
    uses: ./.github/workflows/release.yml
    needs: qa-checks
    permissions:
      contents: write
      issues: write
      pull-requests: write
      packages: write
