name: CI

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  qa-checks:
    name: QA Checks
    uses: ./.github/workflows/qa-checks.yml
    permissions:
      contents: read
